version: '3.7'

services:
  web:
    build:
      context: ../the_weather
      dockerfile: Dockerfile.prod
    command: gunicorn the_weather.wsgi:application --bind 0.0.0.0:8000
    expose:
      - 8000
    env_file:
      - ./.env.prod
    depends_on:
      - db
  db:
    image: postgres:12.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env.prod.db
  nginx:
    build: ./nginx
    ports:
      - 8080:80
    depends_on:
      - web
volumes:
  postgres_data:
